<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>音达</title>
  <script>
    var xmlHttp;
    function uploadxls(contextPath){
         //判断是否选择了文件并且后缀是xls
    if(check()){
         //检验文件是否存在
        xlsfileupload(contextPath);
      }
    }
         //获取上传文件 文件名
    function getFileName(){
         //获取文件名
        var upfile = document.getElementById("uploadxlsfile").value;
        var allfilename = upfile.split("\\");
        var filename = allfilename[allfilename.length-1];
        return filename;
    }
    //
    function xlsfileupload(contextPath){

        document.uploadxlsform.action = contextPath+'/repository2.do?method=uploadXls';
        document.uploadxlsform.target="_self";
        document.uploadxlsform.submit();
        document.getElementById("text1").value;
        document.getElementById("text2").value;
        document.getElementById("text3").value;
        alert("上传完成！");
        window.close();

    }
    function submitAfter(req,res){
        var result = res.getAttr("result");
          if(null!=result&&""!=result){
              alert(result);
          }
    }
         //是否选择了文件并且后缀是xls文件判断
    function check(){
       var upfile = document.getElementById("uploadxlsfile").value;
       if(upfile=="" || upfile==null){
          return false;
       }
       if(upfile.endWith("xlsx")){
         return true;
       }else{
         alert("请上传Excel文件！");
         return false;
       }
       return true;
     }
  String.prototype.endWith=function(oString){
    var   reg=new RegExp(oString+"$");
    return   reg.test(this);
 }

</script>
 </head>
 <body>
<center>
  <div>
   <form action="/testReport/" name="uploadxlsform" id="uploadxlsform" method="post" enctype="multipart/form-data">
       小区中文名s1：<input type="text"  name ="s1_name"  id="s1_name">
       <br>
       小区中文名s2：<input type="text" name ="s2_name"  id="s2_name">
       <br>
       小区中文名s3：<input type="text" name ="s3_name"  id="s3_name">
       <br>

       小区测试数据s1：<input type="file" name="s1_file" id="s1_file" size="60" />
       <br>
       小区测试数据s2：<input type="file" name="s2_file" id="s2_file" size="60" />
       <br>
       小区测试数据s3：<input type="file" name="s3_file" id="s3_file" size="60" />
       <br>
       单验报告模板：<input type="file" name="template_file" id="template_file" size="60" />
       <br>

       <input type="submit" value="上 传" name="B1" class="button_common_skyBlue"  />
       <input type="reset"  value="重 置" name="B2" class="button_common_skyBlue" />
   </form>
  </div>
    </center>
 </body>
</html>